@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #10bbb3;
}
body {
  background-color: #f5f8fa;
}

.footer-link {
  color: #000;
  font-weight: 700;
  /* margin-top: 2.375em; */
  font-size: large;
  transition: 0.5s;
  padding: 10px 20px;
  &:hover {
    text-decoration: none;
    background-color: #eee;
  }
}

.title {
  font-weight: bold;
  line-height: 1.2;
  font-size: 18px;
}

.second-part {
  & ul {
    margin-left: 40px;
    margin-block: 7px;
    list-style-type: disc;
  }
}


